page-primera {
  
   .primera{
    background-color: #083f88;
   }
   .logo{
    margin: auto;
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    top: 30px;
}
.nombreApp{
    position: relative;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    top: 53px;
    color:white;
    
    }
}


